<!-- vendor styles -->
<link href="public/specimen_files/specimen_stylesheet.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- vendor scripts -->
<script src="js/socket.io.min.js"></script>
<script src="js/jquery.min.js"></script>

<!-- app styles -->
<link href="public/css/fonts.css" rel="stylesheet">
<link href="public/css/stylesheet.css" rel="stylesheet">

<!-- app scripts -->
<script src="public/js/config.js"></script>
<script src="public/js/client.js"></script>


