<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Zegar| Admin</title>
    <%- include ('./partials/common_scripts') %>
    <link rel="stylesheet" href="public/css/admin.css">
    <link rel="stylesheet" href="public/css/blink.css">
    <script src="public/js/admin.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row centered adminoffline">
            <div class="alert alert-danger" role="alert">
                Brak połączenia z serwerem...
              </div>
        </div>
        <div class="row" style="margin-top: 25px;"> 
            <div class="col-sm-2" >
                <div class="btn-group-vertical" role="group" style="display:table">
                    <input type="radio" class="btn-check" name="counterType" id="counter-down" autocomplete="off" value="BACKWARD" checked="">
                    <label class="btn btn-outline-light align-middle" id="BACKWARD" for="counter-down">DO TYŁU</label>
                    
                    <input type="radio" class="btn-check" name="counterType" id="counter-up" autocomplete="off" value="FORWARD">
                    <label class="btn btn-outline-light align-middle" id="FORWARD" for="counter-up">DO PRZODU</label>
                </div>
            </div>
            <div class="col-sm-10 centered">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group me-2" role="group">
                      <button type="button" class="btn btn-primary btn-time" data-minutes="03" data-seconds="00">3</button>
                      <button type="button" class="btn btn-primary btn-time" data-minutes="04" data-seconds="00">4</button>
                      <button type="button" class="btn btn-primary btn-time" data-minutes="07" data-seconds="00">7</button>
                      <button type="button" class="btn btn-primary btn-time" data-minutes="10" data-seconds="00">10</button>
                    </div>
                    <div class="btn-group me-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-success btn-start startTimer">START</button>
                        <button type="button" class="btn btn-success btn-live btn-green-live" data-change="plus" >+</button>
                      </div>
                </div>
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group me-2" role="group">
                      <button type="button" class="btn btn-primary btn-time" data-minutes="15" data-seconds="00">15</button>
                      <button type="button" class="btn btn-primary btn-time" data-minutes="30" data-seconds="00">30</button>
                      <button type="button" class="btn btn-primary btn-time" data-minutes="60" data-seconds="00">60</button>
                      <button type="button" class="btn btn-info btn-time" data-minutes="00" data-seconds="00">RESET</button>
                    </div>
                    <div class="btn-group me-2" role="group">
                        <button type="button" class="btn btn-danger btn-stop stopTimer">STOP</button>
                        <button type="button" class="btn btn-danger btn-live btn-red-live" data-change="minus">-</button>
                      </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 centered">
                <div class="timer">00:00</div>
                <div class="info"><span></span></div>
            </div>
        </div>
    </div>
</body>
</html>
