<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Zegar| Client</title>
  <%- include ('./partials/common_scripts') %>
  <link rel="stylesheet" href="public/css/client.css">
</head>
<body>
<div class="container-fluid">
  <div class="timer">00:00</div>
  <div class="row">
    <div class="col-md-4">
      <div class="offline">Offline</div>
    </div>
    <div class="col-md-6 col-md-offset-2">
      <div class="clock">
        <p class="clockwrap"></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>