<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Zegar</title>
</head>
<body>
<h1>Zegar</h1>
    <p>
        Wybierz <a href="/admin">Admin</a> lub <a href="/client">Client</a> żeby kontynuować!
    </p>
</body>
</html>