.timer {
    color:white;
    font-size:200px;
    text-align: center;
    padding-top:0px;
    font-weight: 700;
    line-height: normal;
}
.form-inline {
    text-align: center;
    display: inline-block;
}
.centered {
    text-align: center;
}

.btn-plus {
    padding: 0px 20px;
    margin: 27px 0px;
    font-size: 40px;
}

.btn-start {
    font-weight: 900;
    background-color: #49c200 !important;
} 
.btn-stop {
    font-weight: 900;
    background-color: #de0000 !important;
} 

.btn-toolbar .btn-live {
    font-size: 40px;
    background: none;
}

.btn-toolbar .btn-red-live, .btn-red-live:hover, .btn-red-live:focus, .btn-red-live:active {
    color: #de0000;
    border-color: #de0000;
    border-width: 1px;
    background: none;
}
.btn-toolbar .btn-green-live, .btn-green-live:hover, .btn-green-live:focus, .btn-green-live:active {
    color: #49c200;
    border-color: #49c200;
    border-width: 1px;
    background: none;
}

/* .adminoffline {
    background-color: #939393;
    height: 40px;
    font-size: 25px;
    font-weight: 700;
    padding: 5px 0px;
    color: white;
    letter-spacing: 0px;
} */
.info {
    color: white;
    font-weight: 300;
    font-size: 35px;
}

#countdown-type-select {
    font-size: 20px;
    border-radius: 4px;
    background-color: black;
    border: 0;
    height: 40px;
}

#countdown-type-select:focus {
    border: 0;
    box-shadow:none;
}

.js-countdown-type {
    padding: 25px 0px 0px 5px;
    margin: 0;
}

.btn-group-vertical label {
    font-size: 19px;
    height: 90px;
    padding-top: 22%;
    border-radius: 0;
    font-weight: 200;
}

.btn-group-vertical>.btn-group:not(:first-child), .btn-group-vertical>.btn:not(:first-child) {
    margin-top: 3px;
}

.alert-danger {
    font-weight: 700;
    border-radius: 0;
}

.btn-outline-light:hover {
    color: #f8f9fa;
    background-color: transparent;
    border-color: #f8f9fa;
}
