.timer {
    color:white;
    font-size:40em;
    text-align: center;
    padding-top: 0%;
    font-weight: 700;
	letter-spacing: -10px;
    line-height: 665px;
}

.clock {
	padding-left: 130px;
    padding-top: 7%;
    text-align: center;
    font-size: 15em;
    color: #10cbff;
	letter-spacing: -5px;
    font-weight: 600;
}

.clock span {
    font-size: 100px;
}

.clockwrap {
    white-space: pre;
    word-spacing: -10px;
    line-height: normal;
}

.offline {
	color: rgb(146, 146, 146);
	padding: 141px 180px;
    font-size: 2em;
}
