* {
    margin: 0;
    padding: 0;
}
  
html, body {
    background:#000000;
	font-family: 'Open Sans', sans-serif;
}
.container {
    width:100%;
}

.form-group {
    width:200px;
}

.form-inline .form-control {
    background:none;
    border:none;
    font-size:100px;
    height: 140px;
    width: 140px;
	font-weight: 700;
}

.form-inline label {
    background:none;
    border:none;
    font-size:80px;
    height: 100px;
    width: 30px;
    font-weight: 700;
    float:left;
    margin: 20px 0px;
}

label {
    color: #95a5a6;
}

input[type=text], input[type=tel]{
    color:#95a5a6;
    float:left;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-blue, .btn-blue:hover, .btn-blue:focus, .btn-blue:active {
    color: #001c2f;
}
.btn-red, .btn-red:hover, .btn-red:focus, .btn-red:active {
    color: #360000;
}
.btn-green, .btn-green:hover, .btn-green:focus, .btn-green:active {
    color: #112a02;
}

.timer.danger {
    color: #c9302c;
}

.timer.warning {
    color: #f39c12;
}

.timer.grey {
    color: #a2a2a2;
}

.centered {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.margin25 {
    margin: 25px;
}

.btn-toolbar button {
    width: 168px;
    height: 90px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 0;
    background-color: #2c3e50;
    border-color: #262626;
}
.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
    margin-left: 2px
}

.btn-toolbar-type button {
    width: 160px;
    font-size: 25px;
}

.btn-toolbar {
    margin-top: 3px;
}